body {
  background-color: aqua;
}
h1 {
  color: blue;
}
.btn {
  margin-right: 50px;
  /* color: red; */
  background: lightblue;
  border-radius: 5px;
}
.btn:hover {
  background: silver;
}
